/* Could use these, but I think it's clearer using the flex shorthand (below)

@mixin flex-grow($int: 1) {
  -ms-flex : $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
  -ms-flex   : $int;
  flex-shrink: $int;
}
*/
@-moz-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-ms-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
@keyframes fade-out {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-moz-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-webkit-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-o-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@-ms-keyframes fade-in {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

@mixin fade-element-out {
  animation           : fade-out ease-in-out .3s;
  -webkit-animation   : fade-out ease-in-out .3s;
  -moz-animation      : fade-out ease-in-out .3s;
  -o-animation        : fade-out ease-in-out .3s;
  -ms-animation       : fade-out ease-in-out .3s;

  transition-delay    : .3s;
  transition-property : visibility;
  visibility          : hidden;
}
*/
body {
  font-family: "Montserrat", sans-serif;
  overflow: auto;
}

header {
  background-color: white;
  max-height: max-content;
}

.content-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 767px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 768px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 970px;
  }
}
@media (min-width: 1260px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 1200px;
  }
}

#site-logo {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 15px;
  padding: 5px 0;
  max-width: 150px;
  min-width: 0;
}
#site-logo a > img {
  width: 100%;
}

#header-nav {
  -ms-flex-order: 4;
  order: 4;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
#header-nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 15px;
}
#header-nav ul li {
  display: inline-block;
  margin: 0 0 5px;
  padding: 5px 0;
  border: 1px solid white;
}
#header-nav ul li:hover, #header-nav ul li:focus, #header-nav ul li:active {
  border-bottom: 1px solid #433172;
}
#header-nav ul li > a {
  font-size: 0.825rem;
  font-weight: 300;
  color: #584096;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}
#header-nav ul li > a:hover, #header-nav ul li > a:focus, #header-nav ul li > a:active {
  color: #433172;
}

#voip-button {
  /*!
   * This mixin is intended to be applied to any anchor element which is to be
   * styled as a button. Default button style is primary.
   *
   * Style 'primary': purple button, for use on a white background.
   * Style 'secondary': white button, for use on a purple background.
  */
  display: block;
  box-sizing: border-box;
  padding: 10px 35px;
  width: max-content;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #584096;
  border: 2px solid #584096;
  color: white;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-order: 3;
  order: 3;
  margin: auto 15px;
  padding: 0 5px;
  height: 40px;
  font-weight: 600;
  line-height: 38px;
}
#voip-button:hover, #voip-button:focus {
  border: 2px solid #433172;
  background-color: #433172;
}
#voip-button:active {
  -moz-box-shadow: inset 0px 0px 3px #333;
  box-shadow: inset 0px 0px 3px #333;
}
#voip-button i {
  display: none;
}
@media (min-width: 768px) {
  #voip-button {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  #voip-button i {
    display: inline;
    background-color: white;
    color: #584096;
    border: 8px solid white;
    border-radius: 100%;
  }
  #voip-button i:hover, #voip-button i:focus, #voip-button i:hover {
    color: #433172;
  }
}

@media (min-width: 425px) {
  #header-nav ul li > a {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #site-logo {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 0;
  }

  .content-wrapper {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  #header-nav {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-order: 2;
    order: 2;
    max-width: 500px;
    margin: 0 5px;
  }
  #header-nav ul {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  #header-nav ul li > a {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  #header-nav {
    margin-left: auto;
    margin-right: 15px;
  }
}
@media (min-width: 1260px) {
  #header-nav {
    margin-left: auto;
    margin-right: 45px;
  }
}
#banner {
  position: relative;
  height: 495px;
  background: #584096 url("../assets/images/banner.jpg") no-repeat center;
  background-size: cover;
}

#banner-content {
  position: absolute;
  z-index: 100;
  width: 100vw;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;  */
}
#banner-content * {
  display: block;
  margin: 0 15px;
  padding: 12px 0;
  color: white;
}
@media (min-width: 767px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 768px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 970px;
  }
}
@media (min-width: 1260px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 1200px;
  }
}
#banner-content h1, #banner-content h2, #banner-content h3 {
  text-transform: uppercase;
  border: 1px solid transparent;
}
#banner-content h1 {
  font-size: 2.5rem;
  margin-top: 12px;
}
#banner-content #banner-subheading {
  display: block;
  border: 1px solid transparent;
}
#banner-content #banner-subheading h2 {
  margin: 0 auto 0 0;
  padding: 0 0 24px 0;
  width: fit-content;
  border-bottom: 2px solid white;
  font-size: 1.375rem;
  font-weight: 300;
}
#banner-content h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
#banner-content #banner-summary {
  display: block;
}
#banner-content #banner-summary p {
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  max-width: 420px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
#banner-content #banner-button a {
  /*!
   * This mixin is intended to be applied to any anchor element which is to be
   * styled as a button. Default button style is primary.
   *
   * Style 'primary': purple button, for use on a white background.
   * Style 'secondary': white button, for use on a purple background.
  */
  display: block;
  box-sizing: border-box;
  padding: 10px 35px;
  width: max-content;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-left: 0;
  margin-right: auto;
}
#banner-content #banner-button a:hover, #banner-content #banner-button a:focus {
  color: #584096;
  background-color: white;
}
#banner-content #banner-button a:active {
  -moz-box-shadow: inset 0px 0px 3px #333;
  box-shadow: inset 0px 0px 3px #333;
}

#banner-shapes-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column no-wrap;
  flex-flow: column no-wrap;
  height: inherit;
  width: inherit;
  overflow: hidden;
}
#banner-shapes-container #banner-rectangle {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  position: relative;
  width: calc(100vw - 495px * .35 - 5px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
#banner-shapes-container #banner-rectangle #banner-rectangle-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100vw - 495px * .35 - 5px);
  height: 100%;
  background-color: rgba(88, 64, 150, 0.8);
}
#banner-shapes-container #banner-rectangle #banner-triangle {
  position: absolute;
  left: calc(100vw - 495px * .35 - 5px);
  width: 0;
  height: 0;
  border-top: calc(495px * .45 + 5px) solid transparent;
  border-left: calc(495px * .35) solid rgba(88, 64, 150, 0.8);
  border-bottom: calc(495px * .55 + 5px) solid transparent;
}
#banner-shapes-container #banner-rectangle #banner-triangle-outline {
  position: absolute;
  top: -10px;
  left: calc(100vw - 495px * .35 - 5px);
  width: 0;
  height: 0;
  border-top: calc(495px * .45 + 15px) solid transparent;
  border-left: calc(495px * .35 + 5px) solid rgba(255, 255, 255, 0.3);
  border-bottom: calc(495px * .55 + 15px) solid transparent;
}
#banner-shapes-container #banner-image {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 40%;
  height: 100%;
}

@media (max-width: 767px) {
  #banner-shapes-container {
    -moz-animation: 1000ms cubic-bezier(0.48, 1.07, 0.75, 0.99) 0ms 1 slideInFromLeft;
    -ms-animation: 1000ms cubic-bezier(0.48, 1.07, 0.75, 0.99) 0ms 1 slideInFromLeft;
    -o-animation: 1000ms cubic-bezier(0.48, 1.07, 0.75, 0.99) 0ms 1 slideInFromLeft;
    -webkit-animation: 1000ms cubic-bezier(0.48, 1.07, 0.75, 0.99) 0ms 1 slideInFromLeft;
    animation: 1000ms cubic-bezier(0.48, 1.07, 0.75, 0.99) 0ms 1 slideInFromLeft;
  }

  #banner-content {
    opacity: 0;
    -moz-animation: fade-in 800ms ease-in-out 600ms;
    -ms-animation: fade-in 800ms ease-in-out 600ms;
    -o-animation: fade-in 800ms ease-in-out 600ms;
    -webkit-animation: fade-in 800ms ease-in-out 600ms;
    animation: fade-in 800ms ease-in-out 600ms;
    animation-fill-mode: forwards;
  }
}
@media (min-width: 768px) {
  #banner {
    height: 700px;
    background: #584096 none no-repeat center;
  }

  #banner-content {
    top: 90px;
  }
  #banner-content * {
    margin: 25px auto 25px;
    padding: 0;
  }
  #banner-content h1 {
    font-size: 3rem;
  }
  #banner-content #banner-subheading h2 {
    font-size: 1.625rem;
  }
  #banner-content h3 {
    font-size: 1.25rem;
  }
  #banner-content #banner-summary p {
    font-size: 1rem;
    width: 400px;
  }
  #banner-content #banner-button a {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  #banner-shapes-container #banner-rectangle {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 40%;
    width: 40%;
    background-color: #584096;
  }
  #banner-shapes-container #banner-rectangle #banner-rectangle-inner {
    display: none;
  }
  #banner-shapes-container #banner-rectangle #banner-triangle {
    left: 100%;
    border-top: calc(700px * .45 + 5px) solid transparent;
    border-left: calc(700px * .35) solid #584096;
    border-bottom: calc(700px * .55 + 5px) solid transparent;
  }
  #banner-shapes-container #banner-rectangle #banner-triangle-outline {
    left: 100%;
    border-top: calc(700px * .45 + 15px) solid transparent;
    border-left: calc(700px * .35 + 5px) solid white;
    border-bottom: calc(700px * .55 + 15px) solid transparent;
  }
  #banner-shapes-container #banner-image {
    width: 65%;
    background: url("../assets/images/banner.jpg") no-repeat 30% center;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  #banner-content h1 {
    font-size: 3.25rem;
  }
  #banner-content #banner-subheading h2 {
    font-size: 1.825rem;
  }
  #banner-content h3 {
    font-size: 1.5rem;
  }
  #banner-content #banner-summary p {
    font-size: 1.125rem;
  }
}
.description-inner {
  margin: 35px auto;
  border: 1px solid transparent;
}
@media (min-width: 767px) {
  .description-inner {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 768px) {
  .description-inner {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .description-inner {
    box-sizing: content-box;
    max-width: 970px;
  }
}
@media (min-width: 1260px) {
  .description-inner {
    box-sizing: content-box;
    max-width: 1200px;
  }
}
.description-heading {
  margin: 0;
  color: #584096;
  font-size: 1.125rem;
  text-align: center;
}
.description-copy {
  color: #666;
  font-weight: 300;
  font-size: 0.875rem;
}
.description-heading, .description-copy {
  margin: 15px auto;
  padding: 0 15px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .description-heading, .description-copy {
    padding: 0;
  }
  .description-copy {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .description-copy {
    max-width: 870px;
  }
}
.cards-container {
  display: block;
  height: 50px;
  width: 100vw;
  background-color: #584096;
}

#viewport {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content auto;
  grid-template-rows: max-content auto;
  -ms-grid-columns: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
#viewport header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#viewport #banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  height: 495px;
}
@media (min-width: 768px) {
  #viewport #banner {
    height: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
