/* Could use these, but I think it's clearer using the flex shorthand (below)

@mixin flex-grow($int: 1) {
  -ms-flex : $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
  -ms-flex   : $int;
  flex-shrink: $int;
}
*/
body {
  font-family: "Montserrat", sans-serif;
  overflow: auto;
}

header {
  background-color: white;
  max-height: max-content;
}

.content-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 767px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 768px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 970px;
  }
}
@media (min-width: 1260px) {
  .content-wrapper {
    box-sizing: content-box;
    max-width: 1200px;
  }
}

#site-logo {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 15px;
  padding: 5px 0;
  max-width: 150px;
  min-width: 0;
}
#site-logo a > img {
  width: 100%;
}

#header-nav {
  -ms-flex-order: 4;
  order: 4;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
#header-nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 15px;
}
#header-nav ul li {
  display: inline-block;
  margin: 0 0 5px;
  padding: 5px 0;
  border: 1px solid white;
}
#header-nav ul li:hover, #header-nav ul li:focus, #header-nav ul li:active {
  border-bottom: 1px solid #433172;
}
#header-nav ul li > a {
  font-size: 0.825rem;
  font-weight: 300;
  color: #584096;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}
#header-nav ul li > a:hover, #header-nav ul li > a:focus, #header-nav ul li > a:active {
  color: #433172;
}

#voip-button {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-order: 3;
  order: 3;
  margin: auto 15px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #584096;
  border-radius: 3px;
  background-color: #584096;
}
#voip-button i {
  display: none;
}
#voip-button span {
  color: white;
  font-weight: 600;
}
#voip-button:hover, #voip-button:focus, #voip-button:active {
  background-color: #433172;
  border-color: #433172;
}
#voip-button:hover i, #voip-button:focus i, #voip-button:active i {
  color: #433172;
}

@media (min-width: 355px) {
  #header-nav ul li > a {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #site-logo {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 0;
  }

  .content-wrapper {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  #header-nav {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-order: 2;
    order: 2;
    max-width: 500px;
    margin: 0 5px;
  }
  #header-nav ul {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  #header-nav ul li > a {
    font-size: 1.125rem;
  }

  #voip-button {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  #header-nav {
    margin-left: auto;
    margin-right: 15px;
  }

  #voip-button {
    padding: 0 5px;
  }
  #voip-button span {
    padding-left: 5px;
  }
  #voip-button i {
    display: inline;
    background-color: white;
    color: #584096;
    border: 10px solid white;
    border-radius: 100%;
  }
}
@media (min-width: 1260px) {
  #header-nav {
    margin-left: auto;
    margin-right: 45px;
  }
}
#banner {
  position: relative;
  background: #584096 url("../assets/images/banner.jpg") no-repeat center;
  background-size: cover;
}

#banner-content {
  position: absolute;
  z-index: 100;
  width: 100vw;
  top: 0;
}
#banner-content * {
  display: block;
  margin: 25px auto 25px 15px;
  color: white;
}
@media (min-width: 767px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 768px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 970px;
  }
}
@media (min-width: 1260px) {
  #banner-content * {
    box-sizing: content-box;
    max-width: 1200px;
  }
}
#banner-content h1, #banner-content h2, #banner-content h3 {
  text-transform: uppercase;
}
#banner-content h1 {
  font-size: 2.625rem;
}
#banner-content h2 {
  font-size: 1.375rem;
  font-weight: 300;
  white-space: nowrap;
}
#banner-content h3 {
  font-size: 1.125rem;
  font-weight: 400;
  white-space: nowrap;
}
#banner-content #banner-underline {
  display: block;
  position: relative;
  border: 1px solid transparent;
}
#banner-content #banner-underline hr {
  position: absolute;
  margin: 0;
  width: 325px;
  border: 1px solid white;
}
#banner-content #banner-summary {
  display: block;
}
#banner-content #banner-summary p {
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  width: 65%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
#banner-content #banner-button {
  display: block;
}
#banner-content #banner-button a {
  margin-left: 0;
  margin-right: auto;
  padding: 10px 35px;
  width: max-content;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
}

#banner-shapes-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column no-wrap;
  flex-flow: column no-wrap;
  height: inherit;
  width: inherit;
  overflow: hidden;
}
#banner-shapes-container #banner-rectangle {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: block;
  position: relative;
  min-width: 50%;
  max-width: calc(100% - (450px * .35 + 5px));
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
#banner-shapes-container #banner-rectangle #banner-rectangle-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 64, 150, 0.8);
}
#banner-shapes-container #banner-rectangle #banner-triangle {
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-top: calc(450px * .45 + 5px) solid transparent;
  border-left: calc(450px * .35) solid rgba(88, 64, 150, 0.8);
  border-bottom: calc(450px * .55 + 5px) solid transparent;
}
#banner-shapes-container #banner-rectangle #banner-triangle-outline {
  position: absolute;
  top: -10px;
  left: 100%;
  width: 0;
  height: 0;
  border-top: calc(450px * .45 + 15px) solid transparent;
  border-left: calc(450px * .35 + 5px) solid rgba(255, 255, 255, 0.3);
  border-bottom: calc(450px * .55 + 15px) solid transparent;
}
#banner-shapes-container #banner-image {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 40%;
  height: 100%;
}

@media (min-width: 768px) {
  #banner {
    background: #584096 none no-repeat center;
  }

  #banner-content {
    top: 90px;
  }
  #banner-content * {
    margin: 25px auto 25px;
  }
  #banner-content h1 {
    font-size: 3.25rem;
  }
  #banner-content h2 {
    font-size: 1.825rem;
  }
  #banner-content h3 {
    font-size: 1.5rem;
  }
  #banner-content #banner-summary p {
    font-size: 1.125rem;
    width: 400px;
  }
  #banner-content #banner-button a {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  #banner-shapes-container #banner-rectangle {
    min-width: 35%;
    width: 35%;
    background-color: #584096;
  }
  #banner-shapes-container #banner-rectangle #banner-rectangle-inner {
    display: none;
  }
  #banner-shapes-container #banner-rectangle #banner-triangle {
    border-top: calc(700px * .45 + 5px) solid transparent;
    border-left: calc(700px * .35) solid #584096;
    border-bottom: calc(700px * .55 + 5px) solid transparent;
  }
  #banner-shapes-container #banner-rectangle #banner-triangle-outline {
    border-top: calc(700px * .45 + 15px) solid transparent;
    border-left: calc(700px * .35 + 5px) solid white;
    border-bottom: calc(700px * .55 + 15px) solid transparent;
  }
  #banner-shapes-container #banner-image {
    width: 65%;
    background: url("../assets/images/banner.jpg") no-repeat 30% center;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  #banner-content h1 {
    font-size: 3.25rem;
  }
  #banner-content h2 {
    font-size: 1.825rem;
  }
  #banner-content h3 {
    font-size: 1.5rem;
  }
  #banner-content #banner-summary p {
    font-size: 1.125rem;
  }
}
#viewport {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content auto;
  grid-template-rows: max-content auto;
  -ms-grid-columns: 100vw;
  max-height: 100vh;
}
#viewport header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#viewport #banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  height: 450px;
}
@media (min-width: 768px) {
  #viewport #banner {
    height: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
