@import "partials/colours",
        "partials/flexbox",
        "partials/breakpoints",
        "partials/keyframes";

//==============================
// Global styles
//==============================

body {
  font-family: 'Montserrat', sans-serif;
  //overflow-x : auto;                // Prevents horizontal scroll bar in IE
}

@mixin button-base-style($style: 'primary') {
  /*!
   * This mixin is intended to be applied to any anchor element which is to be
   * styled as a button. Default button style is primary.
   *
   * Style 'primary': purple button, for use on a white background.
   * Style 'secondary': white button, for use on a purple background.
  */

  display             : block;
  box-sizing          : border-box;
  padding             : 10px 35px;
  width               : max-content;

  font-size           : 1.125rem;
  font-weight         : 300;
  line-height         : 1.125rem;
  text-transform      : capitalize;
  text-decoration     : none;

  border-radius       : 5px;
  cursor              : pointer;

  transition: background-color 150ms $bezier,
              border 150ms $bezier,
              color 150ms $bezier;

  @if $style == 'primary' {
    background-color  : $primary;
    border            : 2px solid $primary;
    color             : $secondary;

    &:hover,
    &:focus {
      border          : 2px solid $primary-hover;
      background-color: $primary-hover;
    }
  } @else if $style == 'secondary' {
    background-color  : transparent;
    border            : 2px solid $secondary;
    color             : $secondary;

    &:hover,
    &:focus {
      color           : $primary;
      background-color: $secondary;
    }
  } @else if $style == 'tertiary' {
    background-color  : $secondary;
    border            : 2px solid $secondary;
    color             : $primary;

    &:hover,
    &:focus {
      color           : $primary;
      background-color: darken($secondary, 10%);
      border-color    : darken($secondary, 10%);
    }
  } @else {
    @error "#{$style}: invalid button style. Please pass 'primary' or 'secondary'.";
  }

  &:active {
    -moz-box-shadow   : inset 0px 0px 3px #333;
         box-shadow   : inset 0px 0px 3px #333;
  }

  @content;
}
//==============================
// Section styles
//==============================

// Styles for major sections used across pages (i.e. header, footer)
@import "partials/common/header",
        "partials/common/banner",
        "partials/common/description",
        "partials/common/cards",
        "partials/common/form",
        "partials/common/map",
        "partials/common/socials",
        "partials/common/footer",
        "partials/common/intouch",
        "partials/common/about",
        "partials/common/testimonials";

/*
#viewport {
  display              : -ms-grid;
  display              : grid;
  -ms-grid-rows        : max-content auto;
  grid-template-rows   : max-content auto;
  -ms-grid-columns     : 100%;
  grid-template-columns: 100%;

  overflow             : hidden;

  header {                             // IE needs grid items set explicitly
    -ms-grid-row       : 1;            // in the grid.
    -ms-grid-column    : 1;
  }
  #banner {
    -ms-grid-row       : 2;
    -ms-grid-column    : 1;
  }
}*/
