@import "partials/colours",
        "partials/flexbox",
        "partials/breakpoints";

//==============================
// Global styles
//==============================

body {
  font-family: 'Montserrat', sans-serif;
  overflow   : auto;                // Prevents horizontal scroll bar in IE
}

//==============================
// Section styles
//==============================

// Styles for major sections used across pages (i.e. header, footer)
@import "partials/common/header",
        "partials/common/banner",
        "partials/common/summary",
        "partials/common/cards",
        "partials/common/footer";


#viewport {
  display           : -ms-grid;
  display           : grid;
  -ms-grid-rows     : max-content auto;
  grid-template-rows: max-content auto;
  -ms-grid-columns  : 100vw;

  max-height        : 100vh;

  header {                             // IE needs grid items set explicitly
    -ms-grid-row    : 1;               // in the grid.
    -ms-grid-column : 1;
  }
  #banner {
    -ms-grid-row    : 2;
    -ms-grid-column : 1;

    height          : 450px;
    @media (min-width: map-get($breakpoints, 'm')) {
      height        : 700px;
    }
  }
}
