.quote{
    &-inner{
        @include flexbox;
        @include flex-flow(column nowrap);
        @include set-content-width;
        margin: 0 auto;
        border: 1px solid transparent;
        padding: 50px 15px;
        color: $secondary;
        text-align: center;
    }
    &-text{

    }
}

.about{
    &-about{

    }
    &-inner{
        @include flexbox;
        @include flex-flow(column nowrap);
        @include set-content-width;
        margin: 0 auto;
        border: 1px solid transparent;
        padding: 50px 15px;
        color: $primary;
        text-align: center;
    }
    &-card{
        &-decoration{
            text-align: center;
            border: 1px transparent;
            background-color: $secondary;
            margin: 15px;
            @include flexbox;
            @include flex-flow(column nowrap);
            @include align-items(stretch);
            @include align-content(stretch);
        
            margin          : 0 0 35px;
            padding         : 35px 20px; //35px;
        
            background-color: $secondary;
        
            &-title,
            &-description {
              @include flex($grow: 0, $shrink: 0, $basis: auto);
        
              color         : $primary;
              text-align    : center;
              margin     : 15px auto;
        
              $map-of-widths: (
                'm' : 680px,
                'l' : 900px,
                'xl': 940px,
              );
              @each $key, $value in $breakpoints {
                @media (min-width: $value) {
                  box-sizing: content-box;
                  max-width : map-get($map-of-widths, $key);
                }
              }
            }
          }
    }
}