#banner {
  position           : relative;
  background         : $primary url("../assets/images/banner.jpg") no-repeat center;
  background-size    : cover;
}

#banner-content {
  position           : absolute;
  z-index            : 100;
  width              : 100vw;
  top                : 0;

  * {
    @include set-content-width;
    display          : block;
    margin           : 25px auto 25px 15px;
    color            : $secondary;
  }
  h1, h2, h3 {
    text-transform   : uppercase;
  }
  h1 {
    font-size        : 2.625rem;
  }
  h2 {
    font-size        : 1.375rem;
    font-weight      : 300;
    white-space      : nowrap;
  }
  h3 {
    font-size        : 1.125rem;
    font-weight      : 400;
    white-space      : nowrap;
  }

  #banner-underline {
    display          : block;
    position         : relative;
    border           : 1px solid transparent;  // prevents vertical margins collapsing
    hr {
      position       : absolute;
      margin         : 0;
      width          : 325px;
      border         : 1px solid $secondary;
    }
  }

  #banner-summary {
    display          : block;
    p {
      margin-left    : 0;
      margin-right   : auto;
      padding        : 0;
      width          : 65%;

      font-size      : 1rem;
      font-weight    : 300;
      line-height    : 1.5;
    }
  }

  #banner-button {
    display          : block;
    a {
      margin-left    : 0;
      margin-right   : auto;
      padding        : 10px 35px;
      width          : max-content;

      font-size      : 1.125rem;
      font-weight    : 300;
      line-height    : 1.125rem;
      text-transform : capitalize;
      text-decoration: none;

      border         : 2px solid $secondary;
      border-radius  : 5px;
    }
  }
}

#banner-shapes-container {
  @include flexbox;
  @include flex-flow((column no-wrap));
  height              : inherit;
  width               : inherit;
  overflow            : hidden;

  #banner-rectangle {
    @include flex($grow: 1, $shrink: 1, $basis: auto);
    display           : block;
    position          : relative;
    min-width         : 50%;
    max-width         : calc(100% - (450px * .35 + 5px));  // full width minus width of the triangle
    height            : 100%;
    background-color  : transparentize($secondary, .7);

    #banner-rectangle-inner {
      position        : absolute;
      top             : 0;
      bottom          : 0;
      width           : 100%;
      height          : 100%;
      background-color: transparentize($primary, .2);
    }

    #banner-triangle {
      position       : absolute;
      left           : 100%;
      width          : 0;
      height         : 0;
      border-top     : calc(450px * .45 + 5px) solid transparent;
      border-left    : calc(450px * .35) solid transparentize($primary, .2);
      border-bottom  : calc(450px * .55 + 5px) solid transparent;
    }

    #banner-triangle-outline {
      position       : absolute;
      top            : -10px;
      left           : 100%;
      width          : 0;
      height         : 0;
      border-top     : calc(450px * .45 + 15px) solid transparent;
      border-left    : calc(450px * .35 + 5px) solid transparentize($secondary, .7);
      border-bottom  : calc(450px * .55 + 15px) solid transparent;
    }
  }

  #banner-image {
    @include flex($grow: 1, $shrink: 1, $basis: auto);
    width            : 40%;
    height           : 100%;
  }
}


@media (min-width: map-get($breakpoints, 'm')) {
  #banner {
    background   : $primary none no-repeat center;
  }
  #banner-content {
    top          : 90px;
    * {
      margin     : 25px auto 25px;
    }
    h1 {
      font-size  : 3.25rem;
    }
    h2 {
      font-size  : 1.825rem;
    }
    h3 {
      font-size  : 1.5rem;
    }
    #banner-summary p {
      font-size  : 1.125rem;
      width      : 400px;
    }
    #banner-button a {
      font-size  : 1.25rem;
      line-height: 1.25rem;
    }
  }

  #banner-shapes-container {
    #banner-rectangle {
      min-width       : 35%;
      width           : 35%;
      background-color: $primary;

      #banner-rectangle-inner {
        display       : none;
      }
      #banner-triangle {
        border-top    : calc(700px * .45 + 5px) solid transparent;
        border-left   : calc(700px * .35) solid $primary;
        border-bottom : calc(700px * .55 + 5px) solid transparent;
      }
      #banner-triangle-outline {
        border-top    : calc(700px * .45 + 15px) solid transparent;
        border-left   : calc(700px * .35 + 5px) solid $secondary;
        border-bottom : calc(700px * .55 + 15px) solid transparent;
      }
    }

    #banner-image {
      width           : 65%;
      background      : url("../assets/images/banner.jpg") no-repeat 30% center;
      background-size : cover;
    }
  }
}


@media (min-width: map-get($breakpoints, 'l')) {
  #banner-content {
    h1 {
      font-size: 3.25rem;
    }
    h2 {
      font-size: 1.825rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    #banner-summary p {
      font-size: 1.125rem;
    }
  }
}
