//=================
// HOME PAGE CARDS
//=================

// REMOVE THIS!!! Set to help distinguish description sections on home page during build
.cards-container {
  display: block;
  height: 50px;
  background-color: $primary;
}

//====================
// OUR SERVICES CARDS
//====================

#services {
  overflow: hidden;
}

#services-inner {
  @include set-content-width;
  margin   : 35px auto;

  padding  : 0 15px;
  @media (min-width: map-get($breakpoints, 'm')) {
    padding: 0;
  }

  @include flexbox;
  @include flex-flow(column nowrap);
}

.service-card {
  @include flexbox;
  @include flex-flow(column nowrap);
  @include align-items(stretch);
  @include align-content(stretch);

  margin          : 0 0 35px;
  padding         : 35px;

  background-color: $primary;

  &-title {
    @include flex($grow: 0, $shrink: 0, $basis: auto);
    margin        : 0;
    text-align    : center;
    color         : $secondary;
  }

  &-description {
    @include flex($grow: 0, $shrink: 0, $basis: auto);

    $lh        : 24px;
    $max-lines : 5;

    position   : relative;
    margin     : 15px auto;
    width      : 90%;
    max-height : calc(#{$lh} * #{$max-lines});
    overflow   : hidden;

    line-height: $lh;
    text-align : center;
    color      : $secondary;

    .fade {
      position  : absolute;
      bottom    : 0;
      height    : 50px;

      width     : 100%;
      background: linear-gradient(transparent, $primary);
    }
  }

  &-button {
    @include button-base-style($style: 'secondary') {
      margin: 15px auto 0;
    }
  }
}
