//=================
// HOME PAGE CARDS
//=================

// REMOVE THIS!!! Set to help distinguish description sections on home page during build

.cards{
  &-container{
    display: $flexbox;
    height: fit-content;
    background-color: $primary;
  }
  &-inner{
    @include set-content-width;
    margin: 0 15px;
    border: 1px solid transparent; 
  }
  &-decoration{
    text-align: center;
    border: 1px transparent;
    background-color: $secondary;
    margin: 15px;
    @include flexbox;
    @include flex-flow(column nowrap);
    @include align-items(stretch);
    @include align-content(stretch);

    margin          : 0 0 35px;
    padding         : 35px 20px; //35px;

    background-color: $primary;

    &-title,
    &-description {
      @include flex($grow: 0, $shrink: 0, $basis: auto);

      color         : $secondary;
      text-align    : center;
      margin     : 15px auto;

      $map-of-widths: (
        'm' : 680px,
        'l' : 900px,
        'xl': 940px,
      );
      @each $key, $value in $breakpoints {
        @media (min-width: $value) {
          box-sizing: content-box;
          max-width : map-get($map-of-widths, $key);
        }
      }
    }
  }
  &-text{
    font-size: 0.675rem;
  }
  &-title{
    font-size: 1rem;
    color: red;
  }
}

.desc{
  &-text{
    font-size: 0.875rem;
  }
  &-title{ 
    font-size: 1.125rem;
  }
}

// .cards-container {
//   display: $flexbox;
//   height: fit-content;
//   background-color: $primary;
}

// .cards-inner{
//   @include set-content-width;
//   margin: 0 15px;
//   border: 1px solid transparent; 
// }

.text-decoration{
  color: $secondary;
  text-align: left;
  border: 1px transparent;
  background-color: $primary;
}

// .cards-decoration{
//   text-align: center;
//   border: 1px transparent;
//   background-color: $secondary;
//   margin: 15px;
// }

// .cards-title{
//   font-size: 1.125rem;
//   color: $primary;
// }

// .cards-text{
//   font-size: .875rem;
// }


.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;   
}

.git-btn{
  @include button-base-style($style: 'primary') {
    
  }
}

.icn-bg{
  border: $primary 0px;
  padding: 10px;
  border-radius: 50%;
}

.btm_border{
  border-bottom: 5px white solid;
}

//====================
// OUR SERVICES CARDS
//====================
// With pure CSS loads as expanded; if JS is enabled makes
// card collapsed (designed so that JS is unobtrusive - if
// user doesn't have JS enabled, they can still read all
// the content).

.service-card-container {
  @include set-content-width;
  margin   : 35px 0;
  padding  : 0;
  min-width: 100%;
  @media (min-width: map-get($breakpoints, 'm')) {
    padding: 0;
  }
}

.service-card {
  @include flexbox;
  @include flex-flow(column nowrap);
  @include align-items(stretch);
  @include align-content(stretch);

  margin          : 0 0 35px;
  padding         : 35px 20px; //35px;

  background-color: $primary;

  &-title,
  &-description {
    @include flex($grow: 0, $shrink: 0, $basis: auto);

    color         : $secondary;
    text-align    : center;
    margin     : 15px auto;

    $map-of-widths: (
      'm' : 680px,
      'l' : 900px,
      'xl': 940px,
    );
    @each $key, $value in $breakpoints {
      @media (min-width: $value) {
        box-sizing: content-box;
        max-width : map-get($map-of-widths, $key);
      }
    }
  }

  &-description {
    position   : relative;

    max-height : max-content;
    overflow   : hidden;

    line-height: 24px;

    .fade {
      visibility: hidden;
      position  : absolute;
      bottom    : 0;
      height    : 50px;
      width     : 100%;

      // N.B. Safari requires a transparent version of the same color, can't
      // just use the transparent keyword.
      background: linear-gradient(
        transparentize($primary, 1), $primary
      );
    }
  }

  &-button {
    @include button-base-style($style: 'secondary') {
      margin: 15px auto 0;
    }
  }
}



