//=================
// HOME PAGE CARDS
//=================

// REMOVE THIS!!! Set to help distinguish description sections on home page during build
.cards-container {
  display: block;
  height: 50px;
  background-color: $primary;
}

//====================
// OUR SERVICES CARDS
//====================

.service-card-container {
  @include set-content-width;
  margin   : 35px auto;
  padding  : 0 15px;
  @media (min-width: map-get($breakpoints, 'm')) {
    padding: 0;
  }
}

.service-card {
  @include flexbox;
  @include flex-flow(column nowrap);
  @include align-items(stretch);
  @include align-content(stretch);

  margin          : 0 0 35px;
  padding         : 35px;

  background-color: $primary;

  &-title {
    @include flex($grow: 0, $shrink: 0, $basis: auto);
    margin        : 0;
    text-align    : center;
    color         : $secondary;
  }

  &-description {
    @include flex($grow: 0, $shrink: 0, $basis: auto);

    position   : relative;
    margin     : 15px auto;

    // @include set-content-width;
    $map-of-widths: (
      'm' : 680px,
      'l' : 900px,
      'xl': 1150px,
    );
    @each $key, $value in $breakpoints {
      @media (min-width: $value) {
        box-sizing: content-box;
        max-width : map-get($map-of-widths, $key);
      }
    }

    max-height : 120px;   // 5 * line-height
    overflow   : hidden;

    line-height: 24px;
    text-align : center;
    color      : $secondary;

    .fade {
      visibility: visible;
      position  : absolute;
      bottom    : 0;
      height    : 50px;
      width     : 100%;
      background: linear-gradient(transparent, $primary);
    }
  }

  &-button {
    @include button-base-style($style: 'secondary') {
      margin: 15px auto 0;
    }
  }
}
