.foot{
    &-inner{
        @include set-content-width;
        margin: 0 15px;
        border: 1px solid transparent; 
    }
    &-flex{
        flex-direction: column;
        text-align: left;
        @media (min-width: map-get($breakpoints, 'm')) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &-title{
        font-size: 1.125rem;
        color: $primary;
    }
    &-text{
        font-size: 0.825rem;
    }
    // &-socials{

    // }
    &-copyright{
        height: fit-content;
        background-color: black;
        
    }
    &-direction{
        flex-direction: column;
        
    }
    &-copytext{
        color: $body-copy;
        font-size: 0.825rem;
    }
}

// ul {
//     list-style-type: none
// }
  
// li {
//     display: grid;
//     grid-template-columns: 20px auto;
//     justify-content: start;
//     align-items: center;
// }
  
// li::before {
//     content: "U+1433";
//     font-size: 10px;
//     color: #999;
// }