.img{
     &-card{
         width: 100%;
         background-repeat: no-repeat;
         padding-top: 68%;
         background-size: cover;
         background-position: 50%;
     }
    &-recruit{
        background: $secondary url("../assets/images/apprenticeship-recruitment.jpg") no-repeat center;
    }
    &-international{
        background: $secondary url("../assets/images/international-work-placements.jpg") no-repeat center;
    }
    &-bespoke{
        background: $secondary url("../assets/images/bespoke-apprenticeship-support.jpg") no-repeat center;
    }
}
