#img{
    &-card{
        width: 100%; 
        background-repeat: no-repeat;
        padding-top: 68%;
        background-size: cover;
        background-position: 50%;
    }
    &-recruit{
        background-image: url(../../../assets/images/apprenticeship-recruitment.jpg);
    }
}