#map {
  height          : max-content;
  padding         : 35px 0;
  background-color: $secondary;

  &-title {
    @include set-content-width;
    display       : block;
    box-sizing    : border-box;
    margin        : 35px auto 35px auto;
    color         : $primary;
    text-transform: capitalize;
  }

  &-address {
    @include set-content-width;
    margin    : 0 auto;
    color     : $body-copy;
    font-style: normal;
    p {
      margin  : 0;
      line-height: 1.5;
    }
  }

  &-inner {
    @include set-content-width;
    margin        : 35px auto;
  }

  &-interactive {
    min-height    : 75vh;
    max-height    : 650px;
  }

  &-inner,
  &-title,
  &-address {
    padding       : 0 15px;
  }

  @media (min-width: map-get($breakpoints, 'm')) {
    &-inner,
    &-title,
    &-address {
      padding     : 0;
    }
  }
}
