//==============================
// Colours
//==============================
$primary        : rgb(88, 64, 150);
$primary-hover  : darken($primary, 10%);

$secondary      : rgb(255, 255, 255);
$secondary-hover: $primary;

$body-copy      : #666;
